.bannertextcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 100px
}

.bannercontainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  /* justify-content: space-evenly; */
  position: relative;
  height: 80vh;
  overflow-x: hidden;
  position: relative;
}

.imgContainer {
  position: absolute;
  top: -475px;
  right: 500px;
  z-index: -1;
  width: 150px;
}
.bannertitle {
  text-align: center;
  margin-bottom: 0;
}

.h2icon{
  display: flex;
  border: 2px solid;
}

.bannerIcon {
  font-size: 5rem;
  color: red;
}
