.bannertextcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.bannercontainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
