.contactcontainer{
  margin-top: 200px;
  height: 70vh;
  position: relative;
}

.contacttitle{
  font-size: 6rem;
  text-align: right;
  margin: 75px 350px -200px 0;
}

.contactIcon{
  height: 170px;
}

.contactIconContainer {
  display: flex;
  justify-content: space-around;
}

.email {
  position:absolute;
  top: -100px;
  left: 400px;
}

.linkedin {
  position:absolute;
  top: 150px;
  left: 600px;
}

.git {
  position:absolute;
  bottom: 250px;
  right: 450px;

}

.iconShake:hover {
  animation: tilt 0.5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
